#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_compress
override_dh_compress:
	dh_compress -X.profile -X.fa -X.blastPsiMat -X.blast -X.fasta -X.f -X.psiBlast

%:
	dh $@ 
